@font-face {
  font-family: 'Plus Jakarta Sans';
  font-weight: 100 1000;
  font-display: fallback;
  src: url(./PlusJakartaSans-VF.ttf) format('truetype');
}

:root {
  --color-common-white: #ffffff;
  --color-noble-black-100: #e8e9e9;
  --color-noble-black-200: #cdcecf;
  --color-noble-black-300: #9b9c9e;

  --color-noble-black-400: #686b6e;
  --color-noble-black-500: #363a3d;
  --color-noble-black-600: #1a1d21;

  --color-noble-black-700: #131619;
  --color-noble-black-800: #0d0f10;
  --color-noble-black-900: #060708;
}

body {
  display: flex;
  flex-direction: column;
  font-family:
    'Plus Jakarta Sans',
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Open Sans',
    sans-serif;
  background-color: var(--color-noble-black-700);
}

* {
  padding: 0;
  margin: 0;
}
